<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>LSHandlerRank</key>
            <string>Default</string>
        </dict>
    </array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    
    <!-- URL Schemes 정의 -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.CoinAlert.CoinAlertApp</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>CoinAlertApp</string>
            </array>
        </dict>
    </array>
    
    <!-- GitHub OAuth2.0 설정을 위한 사용자 정의 설정 -->
    <key>GitHubClientID</key>
    <string>Ov23li2dR2sp62qsh8sK</string>
    <key>CustomScheme</key>
    <string>CoinAlertApp</string>
    <key>GitHubClientSecret</key>
    <string>51c1536346bb955fd92fcea0c92d2670d75c9115</string>
    
    <key>baseURL</key>
    <string>http://localhost:8080</string>
</dict>
</plist>
